.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  width: 206px;
  font-weight: 700;
  margin: 159px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 206px;
  margin: 13px auto 60px;
}