.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-line-1 {
  width: 403px;
  position: absolute;
  top: 573px;
  left: auto;
  transform-origin: left center 0px;
  right: -53px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 115px 356px 0 690px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin: -4px 210px 0 545px;
}

.u-section-1 .u-image-1 {
  width: 275px;
  height: 275px;
  margin: -105px auto 0 195px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -168px 286px 0 621px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px 428px 0 auto;
  padding: 10px 14px 10px 13px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 255px 0 auto;
}

.u-section-1 .u-line-2 {
  width: 403px;
  transform-origin: right center 0px;
  margin: 209px auto 0 -53px;
}

.u-section-1 .u-shape-1 {
  width: 25px;
  height: 25px;
  margin: -13px auto 0 340px;
}

.u-section-1 .u-shape-2 {
  width: 25px;
  height: 25px;
  margin: -25px 338px 49px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 256px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 110px;
    margin-left: 445px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 186px;
    margin-left: 521px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 228px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 146px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 76px;
    margin-left: 411px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 56px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 155px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 307px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 65px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 107px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 315px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 315px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 957px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 239px;
  margin: 76px auto 0;
}

.u-section-2 .u-image-1 {
  --radius: 10px;
  width: 327px;
  height: 217px;
  margin: 69px auto 0 142px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -217px 133px 0 570px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 11px 134px 0 570px;
}

.u-section-2 .u-shape-1 {
  width: 422px;
  --radius: 10px;
  height: 327px;
  margin: 115px auto 0 142px;
}

.u-section-2 .u-shape-2 {
  width: 149px;
  --radius: 20px;
  height: 39px;
  margin: -285px auto 0 278px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -35px 757px 0 323px;
}

.u-section-2 .u-image-2 {
  width: 46px;
  height: 46px;
  margin: 40px auto 0 181px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px 831px 0 238px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 1px 830px 0 238px;
}

.u-section-2 .u-image-3 {
  width: 46px;
  height: 46px;
  margin: 11px 913px 0 181px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px 831px 0 238px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 1px 814px 0 238px;
}

.u-section-2 .u-image-4 {
  width: 46px;
  height: 46px;
  margin: -155px 744px 0 350px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px 648px 0 407px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 1px 638px 0 407px;
}

.u-section-2 .u-image-5 {
  width: 46px;
  height: 46px;
  margin: 11px 744px 0 350px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px 615px 0 407px;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  margin: 1px 627px 0 418px;
}

.u-section-2 .u-shape-3 {
  width: 422px;
  --radius: 10px;
  height: 327px;
  margin: -272px 117px 0 601px;
}

.u-section-2 .u-shape-4 {
  width: 149px;
  --radius: 20px;
  height: 39px;
  margin: -285px auto 0 737px;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -35px 272px 0 756px;
}

.u-section-2 .u-image-6 {
  width: 46px;
  height: 46px;
  margin: 40px auto 0 640px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px 291px 0 697px;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 1px 139px 0 697px;
}

.u-section-2 .u-image-7 {
  width: 46px;
  height: 46px;
  margin: 11px 454px 0 640px;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -39px 372px 0 697px;
}

.u-section-2 .u-text-17 {
  font-size: 1.25rem;
  margin: 1px 253px 60px 697px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 33px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 34px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 657px;
    margin-left: 223px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 731px;
    margin-left: 138px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 730px;
    margin-left: 138px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 813px;
    margin-left: 81px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 731px;
    margin-left: 138px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 714px;
    margin-left: 138px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 644px;
    margin-left: 250px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 548px;
    margin-left: 307px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 538px;
    margin-left: 307px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 644px;
    margin-left: 250px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 515px;
    margin-left: 307px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 527px;
    margin-left: 318px;
  }

  .u-section-2 .u-shape-3 {
    margin-right: 17px;
    margin-left: 501px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 172px;
    margin-left: 656px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 191px;
    margin-left: 597px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 39px;
    margin-left: 597px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 354px;
    margin-left: 540px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 272px;
    margin-left: 597px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 153px;
    margin-left: 597px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 283px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 1px;
    margin-left: 283px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 547px;
    margin-left: 113px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 621px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 620px;
    margin-left: 28px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 674px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 621px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 604px;
    margin-left: 28px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 534px;
    margin-left: 140px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 438px;
    margin-left: 197px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 428px;
    margin-left: 197px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 534px;
    margin-left: 140px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 405px;
    margin-left: 197px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 417px;
    margin-left: 208px;
  }

  .u-section-2 .u-shape-3 {
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 571px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 62px;
    margin-left: 546px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 81px;
    margin-left: 487px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 487px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 244px;
    margin-left: 430px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 162px;
    margin-left: 487px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 43px;
    margin-left: 487px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-left: 103px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-left: 103px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 118px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 457px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-right: 469px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-right: 468px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: 494px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-right: 469px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    margin-right: 444px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
    margin-right: 348px;
    margin-left: 107px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
    margin-right: 338px;
    margin-left: 107px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 444px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
    margin-right: 315px;
    margin-left: 107px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1rem;
    margin-right: 327px;
    margin-left: 118px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 118px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 391px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 428px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 494px;
  }

  .u-section-2 .u-text-14 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 388px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
    margin-left: 388px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 154px;
    margin-left: 340px;
  }

  .u-section-2 .u-text-16 {
    font-size: 1rem;
    margin-right: 72px;
    margin-left: 397px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 397px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 191px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 280px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 269px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 268px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 294px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 269px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 252px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 294px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 248px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 238px;
    margin-left: 7px;
  }

  .u-section-2 .u-image-5 {
    margin-right: 294px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 215px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 227px;
    margin-left: 18px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-left: 18px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 191px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 228px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 294px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 188px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 188px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 54px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
    margin-left: 269px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 269px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 742px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 239px;
  margin: 59px auto 0;
}

.u-section-3 .u-form-1 {
  height: 479px;
  width: 570px;
  margin: 36px auto 60px;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-input-1 {
  --radius: 20px;
}

.u-section-3 .u-label-2 {
  font-weight: 700;
}

.u-section-3 .u-input-2 {
  --radius: 20px;
}

.u-section-3 .u-label-3 {
  font-weight: 700;
}

.u-section-3 .u-input-3 {
  --radius: 20px;
}

.u-section-3 .u-btn-1 {
  --radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}